.App{
    border:2px solid black;
    padding:10px;
    margin:10px;
}

.Navdiv{
    display : flex;
    justify-content: space-around;
    list-style-type:none;
    align-items: center;
    margin:0px;
    position: sticky;
}

.Navdiv li {
    border:2px solid black;
    padding:10px 20px;
    border-radius: 12px;
}

.MatchesDiv{

    border:2px solid black;
    display : flex;
    justify-content: space-around;
    padding:20px;
    margin: 10px;
}

.MatchesDiv button{

    padding:15px 20px;
    border:0px;
    border-radius: 12px;
    
}

.MatchesOut{

    border:2px solid black;
    padding:50px;
    margin:10px;
}

.AddPlayerDiv{

    border:2px solid black;
    /* padding:20px; */
    display: flex;
    justify-content: space-around;
    margin :10px;
    border-radius: 12px;
}

.AddPlayerFields{

    border: 0px solid black;
    border-bottom: 2px solid black;
    outline:0px;

}

.NaaFlexBox{

    display : flex;
    justify-content: space-evenly;
    align-items: center;
   
}

.createMatch{
    border : 2px solid black;
    border-radius : 12px;
    overflow: hidden;
   
}

.TeamsCustom{
    display: flex;
    width: 150px;
    overflow-x: scroll;
    height :170px;
    margin :10px
}

h1{
    font-size: large;
}

.selectSquad{

    display: flex;
    width : 100%;
    height :260px;
    /* margin:10px; */
    overflow-x:scroll
}

.selectSquad h4{
    margin-bottom: 5px;
}

.selectSquadBtns button{

    background-color: crimson;
    color:white;
    border:0px ;
    padding: 5px 15px;
    border-radius: 12px;
    margin:2px;
}
.playersCard{

    border-right: 2px solid black;
    padding:10px;
    width : 200px;

}

.matchFormat{

    border: 1px 0px 1px 0px solid black;
    padding:10px;
    margin :5px;

}

.matchFormat button{

    padding:10px 15px;
    margin :5px;
    border:0px;
    border-radius: 12px;
    


}


