.navbar{

    display : flex;
    justify-content: space-evenly;
    padding:10px;
    border : 2px solid black;
}

.ListItems{

    display : flex; 
    width :  300px;
    justify-content: space-between;
    padding: 10px;
}

