.box{

    background-color: black;
    /* border:0.5px solid whitesmoke; */
    color:rgb(235, 235, 235)
}



.App{

    background-color: black;
    color:rgb(235, 235, 235)
}

.marginMania{

    margin : 0px  24px 0px 24px
}

.navbartext{

    text-decoration: none;
    color:white;
    font-size: large;
}

.footertext h5{

    color: gold;
}

.headingText{

    font-size: 4rem;
    font-family: 'Trebuchet MS' sans-serif;
    font-weight: bolder;
    color:grey;
    text-align: center;
    -webkit-text-fill-color: rgb(235, 235, 235);
    /* -webkit-text-stroke: 1px whitesmoke; */
}

.cricBall{
   
   animation: ball 6s infinite linear ;
}

@keyframes ball {

    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.hoverDiv{

    position: relative;
}

.hoverDivLi{
    display: none;
    position : absolute;
    background-color: gold;
    color:rgb(0, 0, 0);
    left:-25px;
}

.hoverDiv:hover .hoverDivLi{

    display: block;
    
}

.field{
    border:0px;
    outline:none;
    border-bottom:2px solid white;
    background-color: rgb(0, 0, 0);
    color:white;
}

.field option{
    background-color:gold;
    color:black
}

.playersDisplay{

   
    overflow-x: scroll;
    
}

.playersDisplay::-webkit-scrollbar { 
  
    display: none;
}

.clickedPlayer {

    border : 1px solid white;
    text-align: center;
    background-color: green;
    color : white

    
}

.unclickedPlayer{

    border : 1px solid rgb(4, 4, 4);
    text-align: center;
    background-color: rgb(255, 225, 0);
    color : black

}

.overFlowProp{

    overflow: hidden;
}

.manaColor{

    color :rgb(219, 219, 219);
    font-size: large;

}



.teamsPara{

    background-color: rgb(58, 67, 228);
    color: rgb(255, 255, 255);
    /* border:1px solid white; */
    border-radius: 12px;
    font-size: 14px;
    padding:7px 15px;
    margin : 10px
}

.paraSize{

    font-size: small;
}

.clicked{

    background-color: rgb(3, 252, 3);
    color : whitesmoke;
    margin : 5px;
    padding : 5px 10px;
    border-radius: 12px;
    
}

.unClicked{

    background-color: rgb(252, 231, 3);
    color : rgb(0, 0, 0);
    margin : 5px;
    padding : 5px 10px;
    border-radius: 12px;
}

input[type="date"]::-webkit-calendar-picker-indicator {

    filter: brightness(0) invert(1); 

}


.teamBg{

    background-image: url('https://img.freepik.com/premium-photo/cricket-stadium-background-hitting-recreation-equipment-vector-design_933530-8861.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   

}

.playerBox{

    width : 100px;
    height : 100px;
    border : 1px solid whitesmoke;
    background-color: rgba(212, 212, 212, 0.5);
    backdrop-filter: blur(6px);
}


.clickedToss{

    border : 2px solid rgb(77, 255, 0);
    padding:10px;
    border-radius: 12px;
}

.unClickedToss{
  
}


.count{

   border-right : 1px solid whitesmoke;
   border-left : 1px solid whitesmoke;

}