
.mainBox {

     padding:10px;
     border: 2px solid black; 
     width:50%;
     margin:0px auto;
    
}

h1{
  text-align: center;
}

.myBox{
     padding:20px;
     border:2px solid black;
     margin: 20px;
}

.btnBox {
     text-align: center;
}

.btnBox button{
       padding: 15px 25px 15px 25px;
       margin:20px;
       border:0px;
       font-weight:bold;
       font-size: medium;
       border-radius:15px
}

ul li 
{
     /* border: 2px solid black; */
     width : fit-content;
     margin: 15px;
     padding:10px

}

ul li button 
{
     margin : 10px;
     padding: 10px 15px 10px 15px;
     border:0px;
     border-radius: 15px;
     font-weight: bold;
     background-color: crimson;
     color:white;
}

input{
     padding:9px;
     border:0px;
     outline:0px
}

#btnTask{
     padding: 10px 15px 10px 15px;
     border:0px;
}

#myInput{
     border:2px solid black;
     width:fit-content;
     border-radius:15px;
     overflow: hidden;
}

/* #updTask{
     padding: 10px 15px 10px 15px;
     border:0px;
} */

