
#main-div
{
      display:flex ;
      border:2px solid black;
      width:50%;
      justify-content: space-between;
      padding:10px;
      box-sizing: border-box;
}



.Box{

    border:2px solid black;
    padding:20px
}